#commerce-checkout-form-shipping .form-type-radio { border: 1px solid #ccc; float: left; width: 150px; margin-right: 20px; padding: 10px; }
#commerce-checkout-form-shipping .form-type-radio:last-child { margin-right: 0; }
#commerce-checkout-form-shipping .form-type-radio input { }
#commerce-checkout-form-shipping .form-type-radio label { display: block; }
#commerce-checkout-form-shipping .form-type-radio label h3 { margin-bottom: 1em; text-align: center; font-size: 150%; }
#commerce-checkout-form-shipping .form-type-radio label .description { font-size: 100%; text-align: center; margin-top: 1em; }
#commerce-checkout-form-shipping .form-type-radio label .price { margin-bottom: 1em; font-weight: bold;  text-align: center; margin: .5em 0 0 0; }
